@using EntityLayer.Concrete
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Writing>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-route="f" method="post">
    <div class="search-panel">
        <div class="searchbox">
            <input name="f" type="text" class="input" />
            <div class="button">
            <button type="submit"></button>
            </div>
        </div>
    </div>
</form>
<br />
<div class="primary-content marRight30">
    <div class="mid-panel marginBottom10">
        <div class="panel">
            <div class="title">
                <h1>Blog</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipiscing elit </h2>
            </div>
            @foreach (var item in Model)
            {
                <div class="content marginTop">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="~/img/@item.Image" width="100%" height="100%" class="marRight30" />
                            </div>
                            <div class="col-8">
                                <div class="row-fluid-cols-2">
                                    <div class="row">
                                        <div class="col-9">
                                            <h2>@item.Heading</h2>
                                        </div>
                                        <div class="col-2">
                                            @item.CreatedDate.ToString("dd/MM/yyyyy")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <p>@item.Content</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @Html.PagedListPager((IPagedList)Model, p => Url.Action("Home", new { p }), new X.PagedList.Web.Common.PagedListRenderOptions
    {
    LiElementClasses = new List<string>
    {"page-link"}
    })
</div>

