@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="primary-content marRight30">
    <div class="mid-panel">
        <div class="mid-panel-content">
            <div class="title">
                <h1>About us</h1>
            </div>
            <div class="border"></div>
            <h2>@ViewBag.about.Heading</h2>
            <p class="text-break">
                @ViewBag.about.Content
            </p>
        </div>
    </div>
</div>