@using EntityLayer.Concrete
@model Contact

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sendMessage").submit(function () {
                var name = $("#name").val();
                var email = $("#email").val();
                var subject = $("#subject").val();
                var feedback = $("#feedback").val();

                var jsonData = { "fullName": name, "email": email, "subject": subject, "Message": feedback };

                $.ajax({
                    type: "POST",
                    url: "/Contact/Home",
                    data: jsonData,
                    success: function (data) {
                        alert("Your message has been sent");
                    },
                    error: function (e) {
                        alert("Your message hasn't been sent");
                    }
                })
                document.getElementById('name').value = "";
                document.getElementById('email').value = "";
                document.getElementById('subject').value = "";
                document.getElementById('feedback').value = "";
            })
        })
    </script>
}

<div class="primary-content marRight30">
    <div class="mid-panel">
        <div class="mid-panel-content">
            <div class="title">
                <h1>contact</h1>
            </div>
            <div class="border"></div>
            <h2>Subheading goes here</h2>
            <div class="contact-form margin-top">
                <form id="sendMessage">
                    <label>
                        <span>Full name</span>
                        <input type="text" class="input_text" id="name" required />
                    </label>
                    <label>
                        <span>Email</span>
                        <input type="email" class="input_text" id="email" required />
                    </label>
                    <label>
                        <span>Subject</span>
                        <input type="text" class="input_text" id="subject" required />
                    </label>
                    <label>
                        <span>Message</span>
                        <textarea class="message" id="feedback" required></textarea>
                    </label>
                    <button type="submit" class="button">Submit Form</button>
                </form>
            </div>
            <div class="clearing"></div>
            <div class="address">
                <div class="panel">
                    <div class="title">
                        <h1>Address</h1>
                    </div>
                    <div class="content">
                        <p>
                            @ViewBag.about.Address
                        </p>
                        <p><span>Phone :</span> @ViewBag.about.Phone</p>
                        <p><span>Email :</span> <a href="@ViewBag.about.Mail">@ViewBag.about.Mail</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>